---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wprb-rocks-deploy
  namespace: wprb-rocks
  labels:
    app: wprb-rocks-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wprb-rocks-backend
  template:
    metadata:
      labels:
        app: wprb-rocks-backend
    spec:
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: wprb-rocks-backend
        image: ghcr.io/gammons/wprb-rocks:latest
        imagePullPolicy: Always
        # readinessProbe:
        #   httpGet:
        #     path: "/hb"
        #     port: 3000
        #   initialDelaySeconds: 5
        #   periodSeconds: 5
        # livenessProbe:
        #   httpGet:
        #     path: "/hb"
        #     port: 3000
        #   initialDelaySeconds: 10
        #   periodSeconds: 5
        ports:
        - containerPort: 3000
        volumeMounts:
        - name: sqlite-storage
          mountPath: /myapp/data
        env:
        - name: SPOTIFY_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: spotify-oauth
              key: spotify-app-id
        - name: SPOTIFY_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: spotify-oauth
              key: spotify-app-secret
        - name: RAILS_ENV
          value: "production"
        - name: RAILS_LOG_TO_STDOUT
          value: "true"
        - name: SECRET_KEY_BASE
          valueFrom:
            secretKeyRef:
              name: rails-secret
              key: rails-secret
        - name: ANTHROPIC_API_KEY
          valueFrom:
            secretKeyRef:
              name: anthropic-secret
              key: api-key
        command:
          - "/bin/bash"
          - "-c"
          - "rm -f tmp/pids/server.pid && bin/rails db:migrate && bin/rails s -p 3000 -b '0.0.0.0'"
      volumes:
      - name: sqlite-storage
        persistentVolumeClaim:
          claimName: wprb-rocks-sqlite-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: wprb-rocks-backend-service
  namespace: wprb-rocks
spec:
  type: LoadBalancer
  selector:
    app: wprb-rocks-backend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: show-getter
  namespace: wprb-rocks
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          imagePullSecrets:
          - name: ghcr-secret
          containers:
          - name: wprb-rocks-show-getter
            image: ghcr.io/gammons/wprb-rocks:latest
            imagePullPolicy: Always
            ports:
            - containerPort: 3000
            volumeMounts:
            - name: sqlite-storage
              mountPath: /myapp/data
            env:
            - name: SPOTIFY_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: spotify-oauth
                  key: spotify-app-id
            - name: SPOTIFY_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: spotify-oauth
                  key: spotify-app-secret
            - name: RAILS_ENV
              value: "production"
            - name: RAILS_LOG_TO_STDOUT
              value: "true"
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: rails-secret
                  key: rails-secret
            - name: ANTHROPIC_API_KEY
              valueFrom:
                secretKeyRef:
                  name: anthropic-secret
                  key: api-key
            command:
              - "/bin/bash"
              - "-c"
              - "bundle exec rake wprb:process_playlists"
          volumes:
          - name: sqlite-storage
            persistentVolumeClaim:
              claimName: wprb-rocks-sqlite-pvc
