.player-outer {
  border-top: 1px solid #666;
  position: fixed;
  width: 100%;
  top: calc(100vh - 143px);
  left: 0;
  background-color: #333;
}

.player {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: row;
}

.trackInfo {
  width: 33vw;
  display: flex;
  flex-direction: row;
}

.player-inner {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.artist-track-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
  padding-left: 20px;
}

.albumCover {
  width: 70px;
  height: 70px;
  background-size: cover;
  border-radius: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
}

.control-buttons {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progressBarHolder {
  width: 100%;
  max-width: 300px;
  min-height: 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
  cursor: pointer;
}

.progressBar {
  height: 10px;
  cursor: pointer;
  background-color: #ccc;
}

.playerButton {
  font-size: 26px;
}

.disabled {
  color: #ccc;
}

.bottom-footer {
  color: #ccc;
  background-color: #555;
  border-top: 1px solid #666;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 14px;
}

.track-name {
  font-weight: bold;
}

.artist-name {
  font-size: 14px;
}

.volume-slider {
  width: 33vw;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .volume-slider {
    display: none;
  }

  .trackInfo {
    width: 50vw;
  }

  .controls {
    width: 50vw;
  }

  .albumCover {
    display: none;
  }
}
